.contorno {
border-style: solid ;
border-color: red;
}
.borde_row{
    border-style: solid ;
    border-color:blue;  
}
.borde_row1{
    border-style: solid ;
    border-color:g;
      
}


.a{
    border-style: solid ;
    border-color:violet;  
}